fastapi>=0.68.0,<0.69.0
uvicorn[standard]>=0.15.0,<0.16.0
python-multipart>=0.0.5
aiofiles>=0.7.0
pydantic>=1.8.0,<2.0.0
ultralytics>=8.0.196
opencv-python>=4.8.0.76
pandas
tqdm
pyyaml
torch>=2.1.0
torchvision>=0.16.0
scikit-learn
